
h1{
  text-align: center;
}

.todo{
  margin: auto;
  height: 600px;
  width: 20%;
}

.nav{
  height: 30px ;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(7, 7, 7);
}