
h1{
  text-align: center;
}

.todo{
  margin: auto;
  height: 600px;
  width: 20%;
  margin-top: 8%;
}

/* ---------------------------------------------------------------------------------------------------------- */

.nav{
  height: 25px ;
  padding: 1% 2%;
  width: 96%;
  list-style: none;
  display: flex;
  color: rgb(248, 247, 245);
  justify-content: space-evenly;
  background-color: rgb(39, 75, 92);
}

.homePage{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 29px;
}

.imgBox{
  height: 380px;
  width : 270px;
}

#imgIs{
  height: 100%;
  width: 100%;
}



/* --------------------------------- Footer --------------------------------------------------------------- */

.footerDiv{
  padding: 22px; 
}

.footerDiv>p{
  line-height: 25px;
  font-size: 14px;
  color: rgb(104, 102, 102);
}

.footerDiv>div>h1{
  font-size: 17px;
  font-weight: 800;
  text-align : start;
  color: rgb(131, 130, 130);
}

#para{
  margin-top: 4%;
}

.footerDiv>div>p{
  font-size: 13px;
  color: rgb(129, 126, 126);
}

.footerDiv>div>li{
  font-size: 13px;
  list-style: none;
  color: rgb(129, 126, 126);
}

.bottom{
  display: flex;
  padding: 3% 3%;
  font-weight: 400;
  background-color: rgb(13, 26, 43);
  color: rgb(233, 230, 230);

}

li{
  list-style: none;
}

.left{
  display: flex;
  justify-content: space-evenly;
  width: 54%;
  margin-left: -3%;
}

.right{
  display: flex;
  justify-content: space-between;
  width: 42%;
}

.left>div>li{
  font-size: 14px;
  line-height: 25px;
}

.right>div>li{
  font-size: 13px;
  line-height: 19px;
}

.left>div :nth-child(1){
  margin-bottom: 7%;
  color: rgb(143, 142, 142);
}

.right>div :nth-child(1){
  margin-bottom: 5%;
  color: rgb(153, 152, 152);
}


/* --------------------------------------------------------------------------------------------------- */

.bigImg{
  margin-top: 6%;
  width: 55%;
  height: 620px;
}

.rightBox{
  margin-top: 15%;
  width: 35%;
  height: 300px;
 
}

.flexDiv{
  display: flex;
}

.movieSort{
  margin-top: 1%;
  margin-left: 88%;
}


/* --------------------------------------- Navbar -------------------------------------------------------- */

#search{
  width: 24%;
}


.students{
  width: 30%;
  margin: auto;
  margin-top: 8%;
}

.grid{
  display: grid;
  grid-gap: 15px;
  margin-top: 5%;
  grid-template-columns: repeat(4 , 1fr);
}

.grid>div{
  border: 1px solid black;
}

#box{
  display: flex;
  justify-content: space-evenly;
}

.Products{
  margin-top: 9%;
  width: 50%;
  border: 1px solid black;
}